{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h1 class="center">Login</h1>

<div class="form-container">
    <form method="POST">
        {{ form.hidden_tag() }}
        
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
        </div>

        <button type="submit" class="btn primary">Login</button>
    </form>

    <!-- Removed forgot_password link because route does not exist -->

    <p class="center">
        Don't have an account?
        <a href="{{ url_for('register') }}">Register here</a>.
    </p>
</div>
{% endblock %}
